<div class="flex flex-row items-center justify-between">
  <div class="flex items-center gap-x-2">
    <button class="btn btn-circle">
      <i class="fa fa-arrow-left"></i>
    </button>
    <button class="btn btn-circle">
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
  <div>
    <div class="flex items-center gap-x-2">
      <button class="btn btn-circle">
        <i class="far fa-bell"></i>
      </button>
      <div class="dropdown dropdown-end items-center">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="rounded-full">
            <img alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li>
            <a class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>Settings</a></li>
          <li><a>Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
