{% load static %}
<script>
    const audio = new Audio()
    audio.controls = true;
    let audioSrc = null;
    let songs = null;
    let current = null;
    let mapIds = {};
    let playerUpdate = null
    const setMapIds = (data) => {
        let index = 0;
        data.data.forEach((elem) => {
            mapIds[elem.id] = index;
            index++;
        })
    }
    const updatePlayerDetails = () => {
        //document.getElementById("player-image").innerHTML = current.file;
        const titles = document.getElementsByClassName("player-title")
        const artists = document.getElementsByClassName("player-artist");
        for (let i = 0; i < titles.length; i++) {
            titles[i].innerText = current.title;
            artists[i].innerText = current.genre;
        }
    }
    const setAudioSrc = (data) => {
        audioSrc = data;
    }
    const setSongs = (data) => {
        songs = data;
    }
    const setCurrent = (data) => {
        current = data;
    }
    playerUpdate = (data) => {
        setMapIds(data)
        setSongs(data.data);
        setCurrent(songs[0])
        setAudioSrc(current.file);
        audio.src = audioSrc;
        audio.play()
        audio.onended = () => {
            if (mapIds[current.id] + 1 < songs.length) {
                setCurrent(songs[mapIds[current.id] + 1]);
                setAudioSrc(current.file);
                audio.src = audioSrc;
                audio.play();
            } else {
                console.log("No more songs");
            }
        }
        document.getElementById("play-pause").innerHTML = '<i className="fa fa-pause"></i>';
        updatePlayerDetails();
    }
    const nextSong = () => {
        if (mapIds[current.id] + 1 < songs.length) {
            setCurrent(songs[mapIds[current.id] + 1]);
            setAudioSrc(current.file);
            audio.src = audioSrc;
            audio.play();
            updatePlayerDetails();
        } else {
            console.log("No more songs");
        }

    }
    const prevSong = () => {
        if (mapIds[current.id] - 1 > 0) {
            setCurrent(songs[mapIds[current.id] - 1]);
            setAudioSrc(current.file);
            audio.src = audioSrc;
            audio.play();
            updatePlayerDetails();
        } else {
            console.log("No more songs");
        }
    }
    const playPause = (event) => {
        /**Play Pause Song if Audio Src Available*/
        if (audio.paused) {
            audio.play()
            event.target.tagName === 'I' ?
                event.target.classList.replace('fa-play', 'fa-pause')
                :
                event.target.children[0].classList.replace('fa-play', 'fa-pause')
        } else {
            audio.pause()
            event.target.tagName === 'I' ?
                event.target.classList.replace('fa-pause', 'fa-play')
                :
                event.target.children[0].classList.replace('fa-pause', 'fa-play')
        }
    }
    /**Update Music Player*/
    const artistPlayer = async (elem) => {
        const id = elem.id.split("-")[2];
        if (!isNaN(Number(id))) {
            getRequest(`/creator/artist-tracks-response/${id}`, playerUpdate)
        }
    };
</script>
<!-- <media-controller audio
    className="flex flex-col"
>
    <audio
        slot="media"
        src="{% static 'cradles.mp3' %}"
    ></audio>
    <media-control-bar>
        <media-seek-backward-button></media-seek-backward-button>
        <media-play-button></media-play-button>
        <media-seek-forward-button></media-seek-forward-button>
        <media-time-display></media-time-display>
        <media-time-range ></media-time-range>

        <media-fullscreen-button></media-fullscreen-button>

        <media-duration-display></media-duration-display>
        <media-mute-button></media-mute-button>
        <media-volume-range></media-volume-range>
    </media-control-bar>
</media-controller> -->
