<div class="p-10 car-move bg-neutral-800">
    <div class="delay-1000 border-b mt-5 w-full">
        <i class="fa fa-car-side animate-[move-car_10s_ease-in_infinite]"></i>
    </div>
    <div class="delay-1000 border-b mt-5 w-full">
        <i class="fa fa-car-side animate-[move-car_10s_ease-out_infinite]"></i>
    </div>
    <div class="delay-1000 border-b mt-5 y w-full">
        <i class="fa fa-car-side animate-[move-car_10s_ease-in-out_infinite]"></i>
    </div>
    <div class="delay-1000 border-b mt-5 w-full">
        <i class="fa fa-car-side animate-[move-car_10s_infinite]"></i>
    </div>
</div>
