{%extends 'base.html'%}
{%load static%}
{%block title%}Reset Password Confirm{%endblock%}
{%block styling%}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
{%endblock%}
{%block content%}
<div class="relative min-h-screen flex">
    <div
        class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 bg-white">
        <div
            class="w-full h-full hidden md:flex flex-auto items-center justify-start p-10 bg-purple-900 text-white bg-no-repeat bg-cover relative">
            <div class="absolute bg-gradient-to-b from-blue-900 to-gray-900 opacity-75 inset-0 z-0">
            </div>
            <a href="https://codepen.io/uidesignhub" target="_blank" title="codepen aji"
                class="flex absolute top-5 text-center text-gray-100 right-5 focus:outline-none"><img
                    src="{% static 'img/logo.png' %}" alt="aji"
                    class="object-cover mx-auto w-8 h-8 rounded-full w-10 h-10" />
                <p class="text-xl ml-3">Spongify</p>
            </a>
            <!-- Center Align Form -->
            <div
                class="flex flex-col justify-center items-center w-full h-full z-[99] bg-white py-10 px-5 max-w-md mx-auto rounded-lg shadow-xl">
                <div>
                    <img src="{% static 'img/logo.png' %}" class="h-24 w-24 mx-auto mb-5" />
                </div>
                <form id="otp-form" method="post" class="max-w-md w-full">
                    {%csrf_token%}
                    <div class="flex items-center justify-center gap-3 w-full">
                        {%for field in form %}
                        {{field}}
                        {%endfor%}
                    </div>
                    <label class="form-control mt-3" for="password">
                        <div class="label">
                            <span class="text-sm text-gray-900 font-bold">Password</span>
                        </div>
                        <input type="password"
                            class="input input-sm input-bordered w-full input-primary password-toggle text-slate-900"
                            name="password" id="password" placeholder="Choose password" />
                        <div class="label">
                            <span class="text-xs text-gray-500 italic">Please enter 8 digit alphanumberic password with
                                atleast one symbol.</span>
                        </div>
                    </label>
                    <label class="form-control" for="confirm_password">
                        <div class="label">
                            <span class="text-sm text-gray-900 font-bold">Confirm password</span>
                        </div>
                        <input type="password"
                            class="input input-sm input-bordered w-full input-primary password-toggle text-slate-900"
                            name="confirm_password" id="confirm_password" placeholder="Confirm password" />
                        <div class="label">
                            <span class="text-xs text-gray-500 italic">Please enter password again.</span>
                        </div>
                    </label>
                    <div class="flex flex-col space-y-5 mt-5">
                        <button class="btn btn-primary transition ease-in duration-150 scale-95 hover:scale-100">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
                            </svg>

                            <span>Confirm OTP</span>
                        </button>

                        <div
                            class="flex flex-row items-center justify-center text-center text-sm font-medium space-x-1 text-gray-500">
                            <p>Didn't recieve code?</p> <a class="flex flex-row items-center text-blue-600"
                                href="{% url 'accounts:password-reset' %}" rel="noopener noreferrer">Resend</a>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

    </div>
</div>
{%endblock %}
{% block js %}
<script src="{% static 'js/accounts.js'  %}"></script>
{% endblock %}
