{%extends 'base.html'%}
{%load static%}
{%block title%}Register{%endblock%}
{%block styling%}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
{%endblock%}
{%block content%}
<div class="relative min-h-screen flex">
    <div
        class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 bg-white">
        <div
            class="sm:w-1/2 xl:w-2/5 h-full hidden md:flex flex-auto items-center justify-start p-10 overflow-hidden bg-purple-900 text-white bg-no-repeat bg-cover relative">
            <div class="absolute bg-gradient-to-b from-blue-900 to-gray-900 opacity-75 inset-0 z-0"></div>
            <div class="absolute triangle min-h-screen right-0 w-16"></div>
            <a href="https://codepen.io/uidesignhub" target="_blank" title="codepen aji"
                class="flex absolute top-5 text-center text-gray-100 left-5 focus:outline-none"><img
                    src="{% static 'img/logo.png' %}" alt="aji"
                    class="object-cover mx-auto w-8 h-8 rounded-full w-10 h-10" />
                <p class="text-xl ml-3">Spongify</p>
            </a>
            <!-- <img
        src="https://jasper-pimstorage-skullcandy.s3.us-west-1.amazonaws.com/bd2253a9671dac36a95faf821b52e78935050140be1718ce001f6aace45cf25c.png"
        class="h-96 absolute right-5 mr-5"
      /> -->
            <img src="{% static 'img/logo.png' %}" class="h-96 absolute right-5 mr-5" />
            <!---remove custom style-->
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div
            class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full w-2/5 xl:w-2/5 p-8 md:p-10 lg:p-14 sm:rounded-lg md:rounded-none bg-white">
            <div class="max-w-md w-full space-y-8">
                <div class="text-center">
                    <h2 class="mt-6 text-3xl font-bold text-gray-900">
                        Your Music <i class="fa fa-music text-pink-500"></i> Your Way!
                    </h2>
                    <p class="mt-2 text-sm text-gray-500">
                        Please register to create your account
                    </p>
                </div>
                <div class="flex flex-row justify-center items-center space-x-3">
                    <!-- Facebook -->
                    <a href="https://facebook.com" target="_blank"
                        class="w-11 h-11 items-center justify-center inline-flex rounded-2xl font-bold text-lg text-white bg-blue-800 hover:shadow-lg hover:bg-blue-900 cursor-pointer transition ease-in duration-150">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <!-- Google -->
                    <a href="https://facebook.com" target="_blank"
                        class="w-11 h-11 items-center justify-center inline-flex rounded-2xl font-bold text-lg text-white bg-red-500 hover:shadow-lg hover:bg-red-600 cursor-pointer transition ease-in duration-150">
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <!-- Github -->
                    <a href="https://facebook.com" target="_blank"
                        class="w-11 h-11 items-center justify-center inline-flex rounded-2xl font-bold text-lg text-white bg-slate-800 hover:shadow-lg hover:bg-slate-900 cursor-pointer transition ease-in duration-150">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
                <div class="flex items-center justify-center space-x-2">
                    <span class="h-px w-16 bg-gray-200"></span>
                    <span class="text-gray-300 font-normal">or continue with</span>
                    <span class="h-px w-16 bg-gray-200"></span>
                </div>
                <form class="mt-5" action="#" method="POST">
                    {%csrf_token%}
                    {% for field in form %}
                    <label class="form-control" for="{{field.id_for_label}}">
                        <div class="label">
                            <span class="text-sm text-gray-900 font-bold">{{field.label}}</span>
                        </div>
                        {{field}}
                        {% if field.help_text %}
                        <div class="label">
                            <span class="text-xs text-gray-500 italic">{{field.help_text}}</span>
                        </div>
                        {%endif%}
                    </label>
                    {% endfor %}
                    <label class="form-control" for="password">
                        <div class="label">
                            <span class="text-sm text-gray-900 font-bold">Password</span>
                        </div>
                        <input type="password"
                            class="input input-sm input-bordered w-full input-primary password-toggle" name="password"
                            id="password" placeholder="Choose password" />
                        <div class="label">
                            <span class="text-xs text-gray-500 italic">Please enter 8 digit alphanumberic password with
                                atleast one symbol.</span>
                        </div>
                    </label>
                    <label class="form-control" for="confirm_password">
                        <div class="label">
                            <span class="text-sm text-gray-900 font-bold">Confirm password</span>
                        </div>
                        <input type="password"
                            class="input input-sm input-bordered w-full input-primary password-toggle"
                            name="confirm_password" id="confirm_password" placeholder="Confirm password" />
                        <div class="label">
                            <span class="text-xs text-gray-500 italic">Please enter password again.</span>
                        </div>
                    </label>
                    <div class="flex items-center justify-between text-sm">
                        <div class="flex flex-start items-center space-x-2">
                            <input type="checkbox" class="toggle-xs toggle toggle-primary" onchange="showPassword(this)"
                                id="show-password" name="show-password" />
                            <span class="text-xs text-gray-500">Show password</span>
                        </div>
                        <div>
                            <a href="{% url 'accounts:password-reset' %}"
                                class="text-xs text-gray-500 hover:underline italic">Forgot
                                password?</a>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="mt-3 w-full btn btn-primary">
                            Register
                        </button>
                    </div>
                    <p class="flex gap-x-2 items-center justify-center mt-5 text-center text-md text-gray-500">
                        <span>Already have have an account?</span>
                        <a href="{% url 'accounts:login' %}"
                            class="text-indigo-400 hover:text-blue-500 no-underline hover:underline cursor-pointer transition ease-in duration-300">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{% static 'js/accounts.js'  %}"></script>
{% endblock %}