{% load static %}
{% if request.user.library.followed_artists %}
<section class="p-6" id="favorites">
    <div class="flex flex-row items-center justify-between">
        <h2 class="text-2xl font-semibold">Favourite Artists</h2>
        <span class="text-sm text-zinc-400">Show More</span>
    </div>
    <!-- Button Carousel Saved Tracks -->
    <div class="mt-4 -ml-3 grid grid-cols-5 gap-2">
        {% for artist in request.user.library.followed_artists.all|slice:"0:5" %}
        <div class="flex flex-col p-3 cursor-pointer gap-2 rounded-md hover:bg-white/5">
            {% if artist.user.image %}
            <img src="{{artist.user.image.url}}" alt="cover"
                class="w-full h-full object-cover rounded-lg shadow-lg w-full">
            {% else %}
            <img src="{% static 'img/empty.png' %}" alt="cover"
                class="w-full h-full object-cover rounded-lg shadow-lg w-full">
            {% endif %}
            <div class="flex flex-col">
                <span class="font-semibold">{{artist.stage_name}}</span>
                <span class="text-sm text-zinc-400">
                    <a class="hover:underline">{{artist.user.username}}</a>
                </span>
                <div class="flex items-center justify-end">
                    <button onclick="unfollowArtist(this)" id="artist-{{artist.id}}"
                        class="btn btn-sm btn-error">Unfollow</button>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endif %}
