{%load static%}
<!-- Artists -->
<div class="p-6">
    <div class="flex flex-row items-center justify-between">
        <h2 class="text-2xl font-semibold">Artists</h2>
        {% include 'drawers/artists_drawer.html' with artists=artists type="artists" %}
    </div>
    <div class="mt-4 -ml-3 grid grid-cols-3 gap-2">
        {% if artists %}
        {% for artist in artists|slice:"0:6" %}
        {% include 'spongify/card.html' with instance=artist type="artist" %}
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- Albums -->
<div class="p-6">
    <div class="flex flex-row items-center justify-between">
        <h2 class="text-2xl font-semibold">Albums</h2>
        {% include 'drawers/albums_drawer.html' with albums=albums type="albums" %}
    </div>
    <div class="mt-4 -ml-3 grid grid-cols-3 gap-2">
        {% if albums %}
        {% for album in albums|slice:"0:6" %}
        {% include 'spongify/card.html' with instance=album type="album" %}
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- Songs -->
<div class="p-6">
    <div class="flex flex-row items-center justify-between">
        <h2 class="text-2xl font-semibold">Songs</h2>
        {% include 'drawers/tracks_drawer.html' with tracks=tracks type="tracks" %}
    </div>
    <div class="mt-4 -ml-3 grid grid-cols-3 gap-2">
        {% if tracks %}
        {% for track in tracks|slice:"0:15" %}
        {% include 'spongify/card.html' with instance=track type="track" %}
        {% endfor %}
        {% endif %}
    </div>
</div>
